@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
/* ---- RESET ---- */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,button,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time,menu,select,legend{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:400}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;word-spacing:-1px;-webkit-text-size-adjust:none}
body{margin:0}
a:active,a:hover,a:focus{outline:0}
b,strong{font-weight:bold}
ul,ol{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
a,button{-webkit-tap-highlight-color:transparent}
button{border:0 none;background-color:transparent;cursor:pointer}
textarea{overflow:auto;vertical-align:top;resize:none;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea,a{color:#212121}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{vertical-align:middle}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none}
a:hover{color:#212121}
a:hover,a:link,a:visited,a:active{text-decoration:none}
a.select{cursor:default !important;-webkit-transition:none !important;-moz-transition:none !important;-ms-transition:none !important;-o-transition:none !important;transition:none !important}
input{-webkit-appearance:none;border-radius:0;font-family:'Montserrat',Apple SD Gothic Neo,Malgun Gothic,Dotum,Helvetica,Helvetica Neue,Arial,Verdana,sans-serif}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
fieldset{border:none}
.blind{display:none;visibility:hidden}

/* ---- LAYOUT ---- */
body{width:100%;height:100%; }
.banner{overflow:hidden;position:relative;width:100%;height:100%}
.banner .banner-wrap{position:relative;width:100%;height:100%}
.banner .banner-container{position:relative;width:600%;height:100%}
.banner .banner-container::after{content:'';display:block;position:relative;clear:both}
.banner .banner-container .banner-item{display:-webkit-box;display:-ms-flex;display:flex;position:relative;float:left;width:calc(100% / 6);height:100%;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.banner .banner-container .banner-item .image-area{position:absolute;width:100%;height:100%}
.banner .banner-container .banner-item .image-area img{display:inline-block;width:100%;vertical-align:top}
.banner .banner-container .banner-item .text-area{position:relative;width:100%;text-align:center;color:rgb(166, 110, 255);}
.banner .banner-container .banner-item .text-area .title{text-transform:capitalize;font-size:100px;font-weight:700;line-height:1200px}
.banner .dot-nav{position:absolute;z-index:50;bottom:20px;width:100%}
.banner .dot-nav ul{display:block;text-align:center}
.banner .dot-nav li{display:inline-block;padding-right:7px;padding-left:7px}
.banner .dot-nav li span{display:block;width:15px;height:15px;background-color:rgb(57, 0, 71);border-radius:50%;line-height:8px;cursor:pointer;user-select:none;-webkit-transition:background-color 120ms ease-in-out}
.banner .dot-nav li span:hover{background-color:rgb(212, 0, 255)}
.banner .dot-nav li span.selected{background-color:rgb(255, 0, 255);cursor:default}
.banner .paddle-nav button{position:absolute;z-index:50;top:50%;width:52px;height:52px;margin-top:-26px;border-radius:52px;font-size:53px;font-weight:400;line-height:52px;background-color:rgba(209, 57, 255, 0.411);color:rgba(132, 0, 255, 0.658);-webkit-transition:background-color 180ms ease-in-out}
.banner .paddle-nav button:hover{background-color:rgba(209, 57, 255, 0.75)}
.banner .paddle-nav button::after{display:inline-block;position:relative;text-decoration:none;color:inherit;font-family:'Montserrat';font-size:inherit;font-weight:inherit;font-style:normal;line-height:1;z-index:1}
.banner .paddle-nav button.disabled{display:none}
.banner .paddle-nav button.prev{left:18px}
.banner .paddle-nav button.next{right:18px}
.banner .paddle-nav button.prev::after{content:'<';margin-left:-0.044em; }
.banner .paddle-nav button.next::after{content:'>';margin-right:-0.044em; }